﻿@model ClientSupplierMapper.Models.Supplier

@{
    ViewBag.Title = "Search By Supplier";
}
<div class="display-field">
    <p>Supplier's Name</p>
</div>

    @using (Html.BeginForm("SearchBySupplier", "Suppliers", FormMethod.Get))
    {
        @Html.ValidationSummary(false)
            <fieldset>  
                <legend>Supplier</legend>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                </div>
                <p>
                    <input type="submit" value="Search" />
                </p>
              </fieldset>
    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>