@model ClientSupplierMapper.Models.ClientSupplierMap

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    Client
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.ClientId, ((IEnumerable<ClientSupplierMapper.Models.Client>)ViewBag.PossibleClients).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Name), 
        Value = option.ID.ToString(),
        Selected = (Model != null) && (option.ID == Model.ClientId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.ClientId)
</div>
<div class="editor-label">
    Supplier
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.SupplierId, ((IEnumerable<ClientSupplierMapper.Models.Supplier>)ViewBag.PossibleSuppliers).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Name), 
        Value = option.ID.ToString(),
        Selected = (Model != null) && (option.ID == Model.SupplierId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.SupplierId)
</div>
<div class="editor-label">
    Product
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.ProductId, ((IEnumerable<ClientSupplierMapper.Models.Product>)ViewBag.PossibleProducts).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Name), 
        Value = option.ID.ToString(),
        Selected = (Model != null) && (option.ID == Model.ProductId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.ProductId)
</div>
