@model IEnumerable<ClientSupplierMapper.Models.ClientSupplierMap>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Client
        </th>
        <th>
            Supplier
        </th>
        <th>
            Product
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@(item.Client == null ? "None" : item.Client.Name)
        </td>
        <td>
			@(item.Supplier == null ? "None" : item.Supplier.Name)
        </td>
        <td>
			@(item.Product == null ? "None" : item.Product.Name)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Search By Supplier", "Search")
</div>


