﻿@model IEnumerable<ClientSupplierMapper.Models.ClientSupplierMap>

@{
    ViewBag.Title = "SearchBySupplier";
}

<h2>SearchBySupplier</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            <h6>Supplier ID</h6>
            
            @*@Html.DisplayNameFor(model => model.SupplierId)*@
        </th>
        <th>
            <h6>Supplier Name</h6>
            @*@Html.DisplayNameFor(model => model.Supplier.Name)*@
        </th>
        <th>
            <h6>Product Type</h6>
            @*@Html.DisplayNameFor(model => model.Product.Name)*@
        </th>
        
        <th>
            <h6>Client Name</h6>
            @*@Html.DisplayNameFor(model => model.Product.Name)*@
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
