﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h3>Feature List</h3>
<ol class="round">
    <li class="one">
        <h5>Planned</h5>
        
        The user should have the ability to create a new question specific to a product and a category.•        The category is defined as the verbs associated with every Product such as “HotelSearch”, “HotelRoomRates”, etc.
        There will be another table called QuestionAnswerMapping which will keep track of the answers associated with each question with respect to individual suppliers.
        The Questions table has a column to keep track of the keywords of the associated with each question. The intention of using keywords is to perform searches on those keywords in a questionnaire.
     While entering data for a new supplier the user should have the ability to generate a new questionnaire template for that supplier and then fill out the answers for the same.
    </li>

    <li class="two">
        <h5>Implemented</h5>
    </li>

</ol>
